@model IEnumerable<WebApplication4.Models.Pagamento>

@{
  ViewData["Title"] = "Index";
}

<h1>Cadastro de Pagamentos</h1>

<p>
  <a asp-action="Create" class='btn btn-primary btn-sm'>Incluir Novo Pagamento</a>
</p>
<p>
  <form asp-action="Index" method="get">
    <div class="form-actions no-color">
      CPF: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Buscar..." />
      <input type="submit" value="Pesquisar" class="btn btn-primary btn-sm" /> |
      <a href="~/Pagamento/Index" class="btn btn-outline-dark btn-sm">Voltar para Completo</a>
      <a href="~/Pagamento/PagamentoPDF" class="btn btn-success btn-sm">Imprimir Lista</a>
    </div>
  </form>
</p>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Cpf)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Contrato)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Parcela)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Data)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Valor)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Situacao)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Cliente)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Contrato)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Parcela)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Cliente.IdCli)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.IdPagto" class='btn btn-primary btn-sm'>Alterar</a> |
          <a asp-action="Details" asp-route-id="@item.IdPagto" class='btn btn-outline-dark btn-sm'>Detalhes</a> |
          <a asp-action="Delete" asp-route-id="@item.IdPagto" class='btn btn-danger btn-sm'>Excluir</a>
        </td>
      </tr>
    }
  </tbody>
</table>
